.w-body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    width:100%;height:auto;
    background-size:cover;
    z-index: 1;
}

.e-body{
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    width:100%;height:auto;
    background-size:cover;
    z-index: 1;
}
.header{
    background-image: url("../img/header.png");

    background-size: 100% 100%;
}
.demo-desc{
    padding: 10px;
    font-size: 16px;
    color: #7CAE23;
}
.demo-block{
    position: relative;
    margin-top:69%;
}
.demo-block .ui-header,
.demo-block .ui-footer{
    position: absolute;
}
.ui-tab-nav{
    top: 45px;
}
.ui-tab-content{
    margin-top: 45px;
}
.demo-block > .ui-list,.demo-block >.ui-form,.demo-block >.ui-tooltips{margin-bottom: 20px;}
.content h3{
    padding: 0 15px;
    line-height: 44px;
    font-size: 15px;
}
.border-list{
    background-color: #fff;
}
.border-list li{
    width: 100px;
    margin: 10px auto;
    -webkit-box-pack: center;
    text-align: center;
}
.ui-btn-group-bottom{bottom: 56px;}
.ui-table{
    line-height: 40px;
    text-align: center;
    background-color: #fff;
}
.ui-scroller {width:auto;height:300px;margin:20px;padding:10px;overflow:hidden;}
.ui-scroller li {margin-bottom:10px;}
.ui-notice{
    top: 0;
    z-index: -1;
    height: 400px;
}
.icon-lists li{
    float:left;
    height: 100px;
    width: 103px;
    text-align: center;

}
.icon-lists li i{
    font-size: 32px;
    line-height: 44px;
}
.icon-lists .ui-icon,.icon-lists [class^="ui-icon-"]{
    margin: 10px 0;
    color: #000;
}
.code,.fontclass{
    font-size: 12px;
}
.ui-col{
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}
.ui-flex{
    height: 160px;
    margin-bottom: 4%;
    padding: 0px 14%;
}
.ui-flex-ver{
    border: 1px solid #ddd;
    min-height: 80px;
    margin-bottom: 10px;
}
.ui-row-flex-ver{
    min-height: 100px;
}
.test-img {
    width: 50px;
    height: 50px;
    background: #777;
}
.tx-img{
    display:-webkit-inline-box;
}
.tx-img img{
    border-radius:40px;width: 60px;height: 60px;
}
.span-name{
     font-size: 26px;
     font-family: "MicrosoftYaHei";
     color: rgb(255, 230, 130);
     line-height: 1.658;
     -moz-transform: matrix( 0.74647968521263,0,0,0.74647968521264,0,0);
     -webkit-transform: matrix( 0.74647968521263,0,0,0.74647968521264,0,0);
     -ms-transform: matrix( 0.74647968521263,0,0,0.74647968521264,0,0);
 }
.span-gzz{
    font-size: 20px;
    font-family: "MicrosoftYaHei";
    color: rgb(147, 147, 147);
    line-height: 1.674;
    position: absolute;
}
.span-xy{
    margin-top: 2px;
    font-size: 14px;
    font-family: "MicrosoftYaHei";
    color: rgb(255, 255, 255);
    line-height: 1.474;
    position: absolute;
    width: 73%;
    height: 18%;
    overflow:hidden;
}

.button-tz {
    background-image: url("../img/button.png");
    background-repeat: round;
    height: 44px;
    width: 64%;
    background-size: cover;
    text-align: center;
    cursor:pointer;
    margin-top: 2.6%;
    position: absolute;
    -webkit-animation: arrowGo 1.2s infinite steps(120, end);
    animation: arrowGo 1.2s infinite steps(120, end);
}

.button-tz .span-zg{
    font-size: 16px;
    font-family: "Hiragino Sans GB";
    color: rgb(255, 255, 255);
    line-height: 0.818;
    position: relative;
    top:10px;
}

.top{
    position: static;
    height: 144px;
    background-image: url("../img/top.png");
    background-repeat: round;
    background-size:cover;
}

.info-edit{
    position: static;
    background-image: url("../img/info.png");
    background-size: cover;
    background-repeat: round;
    height: 440px;
}

.form-flex1{
    height: 20px;
    margin-top: 28px;
    display: -webkit-inline-box;
}
.form-flex2{
    height: 20px;
    margin-top: 28px;
    display: -webkit-inline-box;
    margin-left: 12%;

}
.form-flex3{
    height: 20px;
    margin-top: 28px;
    display: -webkit-inline-box;
}
.form-flex4{
    height: 20px;
    margin-top: 54px;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: rgb(103, 79, 63);
    background-color: white;
    cursor: default;
    border: 1px solid;
}
.dclor input{
    color: rgb(103, 79, 63);
    display: -webkit-inline-box;

}
.hidden{
    display: none;
}
.pcode{
    height: 36px;
}
.footer{
    margin-top: 170px;
    height: 56px;
    text-align: center;
    color: rgb(255, 225, 132);
    font-size: 20px;
}

.ggg{
    background-image: url("../img/g.png");
    background-repeat: no-repeat;
    height: 100px;
    background-size: contain;
    margin-left: 110px;
    bottom: 10%;
    position: static;
    -webkit-animation: gGo 1s infinite steps(120, end);
    animation: gGo 1s infinite steps(120, end);
}

@-webkit-keyframes arrowGo {
    0% {
        opacity: 0.7;
        transform-origin: left top;
    }
    50% {
        opacity: 1;
        transform-origin: center center;
    }
    100% {
        opacity: 0.7;
        transform-origin: right bottom;
    }
}
@keyframes arrowGo {
    0% {
        opacity: 0.7;
        transform-origin: left top;
    }
    50% {
        opacity: 1;
        transform-origin: center center;
    }
    100% {
        opacity: 0.7;
        transform-origin: right bottom;
    }
}

@-webkit-keyframes gGo {
    0% {
        transform-origin: center center;
        margin-top: -30px;
    }
    50% {
        transform-origin: center center;
        margin-top: 10px;
    }
    100% {
        transform-origin: center center;
        margin-top: -30px;

    }
}

@keyframes gGo {
    0% {
        transform-origin: center center;
        margin-top: -60px;
    }
    50% {
        transform-origin: center center;
        margin-top: 10px;
    }
    100% {
        transform-origin: center center;
        margin-top: -60px;

    }
}